.notes {
  margin: 0.5em;
  padding-left: 0;
  list-style: none;
}
.note {
  background-color: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  color: black;
  margin-bottom: 0.5em;
  overflow: auto;
  padding: 0.5em;
}
.note:hover {
  background-color: #edeff0;
  border-bottom-color: #d6dadc;
}
.note .value {
  display: inline-block;
}
.note .editable {
  float: left;
}
.note .delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 1em;
  margin-left: 0.5em;
  padding: 0;
  visibility: hidden;
}
.note:hover .delete {
  visibility: visible;
}
.add-note {
  background: none;
  border: 0;
  color: #838c91;
  cursor: pointer;
  margin: 0 -0.5em -0.5em;
  padding: 0.5em;
}

.add-note:hover {
  background: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}